<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', filename='author.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='sjcl.js') }}"></script> 
    <title>Paste</title>
</head>
<body onload="document.f.text.focus()">
    <button disabled id="encrypt-top" onclick="encrypt();">Paste</button> 
    <textarea id="plaintext"></textarea>
    <button disabled id="encrypt-bottom" onclick="encrypt();">Paste</button>
    <span style="font-size: 0.88em;">
        <span>
            with syntax highlighting
            <input checked id="highlight" name="syntax" type="radio" value="on">
            <label for="highlight">enabled</label>
            <input id="no-highlighting" name="syntax" type="radio" value="off"> 
            <label for="no-highlighting">disabled</label>
        </span>
    </span>
    <form accept-charset="UTF-8" id="form" method="post" name="f" style="display: inline;">
        <input id="ciphertext" name="text" type="hidden">
    </form>
    <script>
            var plaintext = document.getElementById('plaintext');
            var ciphertext = document.getElementById('ciphertext');
            
            var mime = 'text/plain';

            function encrypt() {
                var key = sjcl.random.randomWords({{ key_length/4 }});
                var encrypted = sjcl.json.decode(sjcl.encrypt(key, plaintext.value));
                encrypted.mime = mime;
                ciphertext.value = sjcl.json.encode(encrypted);

                window.location.hash = sjcl.codec.base64.fromBits(key, true);
                if (!document.getElementById('highlight').checked) {
                    window.location.hash += '$0';
                }
                document.getElementById('form').submit();
            }

            var seeded = function () {
                sjcl.random.removeEventListener('seeded', seeded);
                document.getElementById('encrypt-top').disabled = false;
                document.getElementById('encrypt-bottom').disabled = false;
            }

            if (sjcl.random.isReady()) {
                seeded();
            } else {
                sjcl.random.addEventListener('seeded', seeded);
                sjcl.random.startCollectors();
            }
    </script>
</body>
</html>
