<!doctype html5>
<html>
<head>
    <link href="{{ url_for('static', filename='highlight.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='render.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='loading.css') }}" rel="stylesheet">
</head>
<body>
    {% if ciphertext_length > 10000 %}
        <div class="loader">
            <div class="lds-ball">
                <div></div>
            </div>
        </div>
    {% endif %}
    <img>
    <pre><code>{{ ciphertext }}</code></pre>
    <script src="{{ url_for('static', filename='highlight.js') }}"></script> 
    <script src="{{ url_for('static', filename='sjcl.js') }}"></script> 
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='render.js') }}"></script>
</body>
</html>
