<!DOCTYPE html5>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link href="{{ url_for('static', filename='highlight.css') }}" rel=
    "stylesheet">
    <title></title>
</head>
<body>
    <script src="{{ url_for('static', filename='highlight.js') }}">
    </script> 
    <script src="{{ url_for('static', filename='sjcl.js') }}">
    </script> 
    <script src="{{ url_for('static', filename='jquery.js') }}">
    </script>
    <pre><code id="ciphertext">{{ ciphertext }}</code></pre>
    <script>
        var plaintext = '';
        var ciphertext = document.getElementById('ciphertext');

        function decrypt() {
            var highlighting;
            var key;

            // split up URL
            if (decodeURIComponent(window.location.hash).indexOf('$') != -1) {
                key = decodeURIComponent(window.location.hash).split('$')[0].slice(1);
                highlighting = decodeURIComponent(window.location.hash).split('$')[1];
            } else {
                key = decodeURIComponent(window.location.hash).slice(1);
                highlighting = '1';
            }

            // work out what the plain text should be
            if (plaintext == '') { 
                if (window.location.hash.length > 3) {
                    plaintext = sjcl.decrypt(sjcl.codec.base64.toBits(key), $('#ciphertext').html());
                    $('#ciphertext').text(plaintext);
                } else {
                    plaintext = $('#ciphertext').html();
                }
            }

            // highlight if desired
            if (highlighting == '1') {
                hljs.highlightBlock($('#ciphertext')[0]);
            } else {
                $('#ciphertext').text(plaintext);
            }
        }

        $(window).bind('hashchange', function(e) {
            decrypt();
        });

        decrypt();
    </script>
</body>
</html>
