<!DOCTYPE html5>
<html>
<head>
    <link href="{{ url_for('static', filename='highlight.css') }}" rel=
    "stylesheet">
    <title></title>
</head>
<body>
    <script src="{{ url_for('static', filename='highlight.js') }}">
    </script> 
    <script src="{{ url_for('static', filename='sjcl.js') }}">
    </script> 
    <script src="{{ url_for('static', filename='jquery.js') }}">
    </script> <img id="image_img"><br>
    <pre><code id="ciphertext">{{ ciphertext }}</code></pre>
    <script>
        var plaintext = '';
        var ciphertext = document.getElementById('ciphertext');

        function decrypt() {
            var highlighting;
            var key;

            // split up URL
            if (decodeURIComponent(window.location.hash).indexOf('$') != -1) {
                key = decodeURIComponent(window.location.hash).split('$')[0].slice(1);
                highlighting = decodeURIComponent(window.location.hash).split('$')[1];
            } else {
                key = decodeURIComponent(window.location.hash).slice(1);
                highlighting = '1';
            }

            // work out what the plain text should be
            if (plaintext == '') { 
                if (window.location.hash.length > 3) {
                    var mime = sjcl.json.decode($('#ciphertext').html()).mime;
                    plaintext = sjcl.decrypt(sjcl.codec.base64.toBits(key), $('#ciphertext').html());
                    if (mime && mime.startsWith('image/')) { 
                        ciphertext.style = 'display: none;';
                        document.getElementById('image_img').src = plaintext;
                    } else {
                        $('#ciphertext').text(plaintext);
                    }
                } else {
                    plaintext = $('#ciphertext').html();
                }
            }

            // highlight if desired
            if (highlighting == '1') {
                hljs.highlightBlock($('#ciphertext')[0]);
            } else {
                $('#ciphertext').text(plaintext);
            }
        }

        $(window).bind('hashchange', function(e) {
            decrypt();
        });

        decrypt();
    </script>
</body>
</html>
