body {
    font-family: sans-serif;
    background-color: #2d2d2d;
	color: #cccccc;
    display: flex;
    flex-direction: column;	
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.top img {
    float: right;
    height: 32px;
}

.top, .bottom {
    font-size: 0.88em
    min-height: 32px;
    line-height: 32px
}

.top {
    margin: 20px 20px 0px 20px;
}

.bottom {
    margin: 0px 20px 20px 20px;
}

.main {
    flex: auto;
    padding: 20px 20px 25px 20px;
}

textarea {
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.05, #333));
    background: -moz-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.05, #333));
    background: -o-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.05, #333));
    background: -ms-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.05, #333));
    background: gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.05, #333));
    border: 1px solid #111;
    background: #444;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#444));
    -webkit-appearance: none;
    -webkit-box-shadow: 1px 1px 1px #333;
    -moz-box-shadow: 1px 1px 1px #333;
    box-shadow: 1px 1px 1px #333;
}

input[type=radio] {
    display: inline-block;
    height: 1.25em;
    vertical-align: middle;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

a {
    color: #5076F4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #190f10;
}

.nobr {
    white-space: nowrap;
}
