body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
    color: #cccccc;
}

code {
    font-family: monospace;
    max-width: 100%;
}

pre {
    margin: 0px;
    padding: 10px;
    display: none;
    white-space: pre-wrap;
}

img {
    display: none;
    position: absolute;
    transform-origin: top left;
}

.loader {
    height: 100%;
    width: 100%;
}

.lds-ball {
    position: relative; 
    top: 50%; 
    left: 50%;
}
