body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
    color: #cccccc;
}

code {
    font-family: monospace;
    max-width: 100%;
}

.fits {
    cursor: auto !important;    
}

pre {
    padding: 10px;
    display: none;
    white-space: pre-wrap;
}

.lds-ball {
    position: relative;
    top: calc(50% - 49px);
    left: calc(50% - 49px);
}

.loader {
    height: 100%;
    width: 100%;
}

/* zooming related trickery */

input[type=checkbox] {
    display: none;
}

label {
    min-height: 100vh;
    min-width: 100vw;
    display: none;
}

/* zoomed out */
input[type=checkbox]:not(:checked)~label {
    cursor: zoom-in;
    justify-content: center;
    align-items: center;
}

input[type=checkbox]:not(:checked)~label>img {
    cursor: zoom-in;
    width: auto;
    height: auto;
    max-width: 95%;
    max-height: 95%;
}

/* zoomed in */
input[type=checkbox]:checked~label {
    cursor: zoom-out;
}

input[type=checkbox]:checked~label>img {
    margin: auto;
    cursor: zoom-out;
}
